In [ ]:
import tensorflow as tf
!pip install groq

Collecting groq
  Downloading groq-0.15.0-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.11/dist-packages (from groq) (3.7.1)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/local/lib/python3.11/dist-packages (from groq) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /usr/local/lib/python3.11/dist-packages (from groq) (0.28.1)
Requirement already satisfied: pydantic<3,>=1.9.0 in /usr/local/lib/python3.11/dist-packages (from groq) (2.10.5)
Requirement already satisfied: sniffio in /usr/local/lib/python3.11/dist-packages (from groq) (1.3.1)
Requirement already satisfied: typing-extensions<5,>=4.10 in /usr/local/lib/python3.11/dist-packages (from groq) (4.12.2)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.11/dist-packages (from anyio<5,>=3.5.0->groq) (3.10)
Requirement already satisfied: certifi in /usr/local/lib/python3.11/dist-packages (from httpx<1,>=0.23.0->groq) (2024.12.14)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.11/dist-packages (from httpx<1,>=0.23.0->groq) (1.0.7)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.11/dist-packages (from httpcore==1.*->httpx<1,>=0.23.0->groq) (0.14.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.9.0->groq) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.2 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.9.0->groq) (2.27.2)
Downloading groq-0.15.0-py3-none-any.whl (109 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 109.6/109.6 kB 1.8 MB/s eta 0:00:00
Installing collected packages: groq
Successfully installed groq-0.15.0

In [ ]:
import tensorflow as tf

# Scalar (0D Tensor)
scalar = tf.constant(5)

# Vector (1D Tensor)
vector = tf.constant([1, 2, 3])

# Matrix (2D Tensor)
matrix = tf.constant([[1, 2], [3, 4]])

# 3D Tensor
tensor_3d = tf.constant([
    [[1, 2], [3, 4]],
    [[5, 6], [7, 8]]
])

print("Scalar:", scalar)
print("Vector:", vector)
print("Matrix:", matrix)
print("3D Tensor:", tensor_3d)

Scalar: tf.Tensor(5, shape=(), dtype=int32)
Vector: tf.Tensor([1 2 3], shape=(3,), dtype=int32)
Matrix: tf.Tensor(
[[1 2]
 [3 4]], shape=(2, 2), dtype=int32)
3D Tensor: tf.Tensor(
[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]], shape=(2, 2, 2), dtype=int32)

In [ ]:
house_features = tf.constant([1200, 3, 15])  # 1200 sq ft, 3 bedrooms, 15 years old
customer_data = tf.constant([
    [25, 4.5, 10],  # Customer 1: 25 years old, 4.5 rating, 10 purchases
    [35, 4.0, 5],   # Customer 2: 35 years old, 4.0 rating, 5 purchases
]) # Corrected indentation and completed the assignment to customer_data

In [ ]:
stock_data = tf.constant([
    [[100, 105, 1000], [101, 106, 1200]],  # Day 1 for 2 companies
    [[102, 108, 1300], [103, 110, 1500]],  # Day 2 for 2 companies
])
# Shape: (2, 2, 3) --> 2 days, 2 companies, 3 features (open, close, volume)

In [ ]:
import tensorflow as tf

# A scalar constant
scalar_constant = tf.constant(5)

# A 1D constant tensor
vector_constant = tf.constant([1, 2, 3])

# A 2D constant tensor
matrix_constant = tf.constant([[1, 2], [3, 4]])

In [ ]:
baking_time = tf.constant(30)  # 30 minutes

In [ ]:
# A scalar variable
scalar_variable = tf.Variable(5)

# A 1D variable tensor
vector_variable = tf.Variable([1, 2, 3])

# A 2D variable tensor
matrix_variable = tf.Variable([[1, 2], [3, 4]])

In [ ]:
scalar_variable.assign(10)  # Update the value to 10
print(scalar_variable.numpy())  # Output: 10

10

In [ ]:
skill_level = tf.Variable(1)  # Starting level
skill_level.assign(skill_level + 1)  # Improved by 1 after baking

In [ ]:
# Constants: Fixed learning rate
learning_rate = tf.constant(0.01)

# Variable: Weight (to be updated during training)
weight = tf.Variable(1.0)

# Input and target
input_value = tf.constant(2.0)
target_value = tf.constant(4.0)

# Simple training step: Adjust weight
with tf.GradientTape() as tape:
    prediction = weight * input_value  # Prediction
    loss = (prediction - target_value) ** 2  # Mean squared error

# Calculate gradient and update weight
gradient = tape.gradient(loss, weight)
weight.assign(weight - learning_rate * gradient)

print("Updated weight:", weight.numpy())

Updated weight: 1.08

In [ ]:
# Generate a random tensor with mean=0 and stddev=1
random_normal = tf.random.normal(shape=(3, 3), mean=0, stddev=1)
print("Random Normal Tensor:\n", random_normal)

Random Normal Tensor:
 tf.Tensor(
[[-0.00769497 -1.1714327   2.3390753 ]
 [-0.15136808 -1.1459478   0.7216296 ]
 [ 0.3747557  -0.06532387 -1.0344504 ]], shape=(3, 3), dtype=float32)

In [ ]:
# Generate random integers between 1 and 10
random_integers = tf.random.uniform(shape=(3, 3), minval=1, maxval=10, dtype=tf.int32)
print("Random Integer Tensor:\n", random_integers)

Random Integer Tensor:
 tf.Tensor(
[[6 6 9]
 [1 7 9]
 [7 8 3]], shape=(3, 3), dtype=int32)

In [ ]:
weights = tf.random.normal(shape=(3, 2), mean=0, stddev=1)
print("Randomly Initialized Weights:\n", weights)

Randomly Initialized Weights:
 tf.Tensor(
[[-0.4688906   1.0371823 ]
 [-0.01874627  1.1843141 ]
 [ 0.31020302  0.22864063]], shape=(3, 2), dtype=float32)

In [ ]:
tensor_a = tf.random.uniform(shape=(3, 3), minval=0, maxval=5)
tensor_b = tf.random.uniform(shape=(3, 3), minval=0, maxval=5)

# Add and subtract tensors
result_add = tensor_a + tensor_b
result_sub = tensor_a - tensor_b

print("Addition:\n", result_add)
print("Subtraction:\n", result_sub)

Addition:
 tf.Tensor(
[[4.742097   7.7932625  9.26586   ]
 [0.86116433 4.3756895  7.4394474 ]
 [7.674762   5.023905   6.7534714 ]], shape=(3, 3), dtype=float32)
Subtraction:
 tf.Tensor(
[[ 3.1763046   1.8971827   0.02711105]
 [-0.1808393  -1.2501258   0.28902888]
 [-1.1038656   1.4811944   0.64757156]], shape=(3, 3), dtype=float32)

In [ ]:
result_mul = tensor_a * tensor_b
result_div = tensor_a / tensor_b

print("Multiplication:\n", result_mul)
print("Division:\n", result_div)

Multiplication:
 tf.Tensor(
[[ 3.0996437  14.283909   21.463856  ]
 [ 0.17722529  4.3959613  13.815461  ]
 [14.420862    5.7614207  11.297506  ]], shape=(3, 3), dtype=float32)
Division:
 tf.Tensor(
[[5.0571203  1.6435404  1.005869  ]
 [0.6529008  0.55557525 1.0808425 ]
 [0.74851066 1.8361927  1.2121134 ]], shape=(3, 3), dtype=float32)

In [ ]:
tensor_a = tf.random.uniform(shape=(3, 2), minval=0, maxval=5)
tensor_b = tf.random.uniform(shape=(2, 3), minval=0, maxval=5)

result_matmul = tf.matmul(tensor_a, tensor_b)

print("Matrix Multiplication:\n", result_matmul)

Matrix Multiplication:
 tf.Tensor(
[[ 8.202198   7.319152   6.0668097]
 [10.296858   8.548551  11.103822 ]
 [ 9.905375   8.634735   8.4399605]], shape=(3, 3), dtype=float32)

In [ ]:
random_tensor = tf.random.normal(shape=(3, 3), mean=0, stddev=1)

# Mean and standard deviation
mean = tf.reduce_mean(random_tensor)
stddev = tf.math.reduce_std(random_tensor)

print("Mean:", mean.numpy())
print("Standard Deviation:", stddev.numpy())

Mean: -0.511826
Standard Deviation: 0.7239198

In [ ]:
import tensorflow as tf

# Create a 2D tensor (like a dataset with rows as samples)
data = tf.constant([[1, 2], [3, 4], [5, 6], [7, 8]])

# Shuffle the rows
shuffled_data = tf.random.shuffle(data)

print("Original Tensor:\n", data)
print("Shuffled Tensor:\n", shuffled_data)

Original Tensor:
 tf.Tensor(
[[1 2]
 [3 4]
 [5 6]
 [7 8]], shape=(4, 2), dtype=int32)
Shuffled Tensor:
 tf.Tensor(
[[3 4]
 [7 8]
 [1 2]
 [5 6]], shape=(4, 2), dtype=int32)

In [ ]:
# Shuffle with a seed
shuffled_data = tf.random.shuffle(data, seed=42)

print("Shuffled Tensor with Seed:\n", shuffled_data)

Shuffled Tensor with Seed:
 tf.Tensor(
[[1 2]
 [5 6]
 [7 8]
 [3 4]], shape=(4, 2), dtype=int32)

In [ ]:
# A dataset (e.g., [size, bedrooms])
dataset = tf.constant([[1200, 3], [1400, 4], [1000, 2], [1800, 5]])

# Shuffle the dataset
shuffled_dataset = tf.random.shuffle(dataset)

print("Original Dataset:\n", dataset)
print("Shuffled Dataset:\n", shuffled_dataset)

Original Dataset:
 tf.Tensor(
[[1200    3]
 [1400    4]
 [1000    2]
 [1800    5]], shape=(4, 2), dtype=int32)
Shuffled Dataset:
 tf.Tensor(
[[1000    2]
 [1800    5]
 [1200    3]
 [1400    4]], shape=(4, 2), dtype=int32)

In [ ]:
# Features and labels
features = tf.constant([[1, 2], [3, 4], [5, 6], [7, 8]])  # Features
labels = tf.constant([0, 1, 0, 1])  # Labels

# Combine features and labels into a single tensor
dataset = tf.data.Dataset.from_tensor_slices((features, labels))

# Shuffle the dataset
shuffled_dataset = dataset.shuffle(buffer_size=4)

for feature, label in shuffled_dataset:
    print("Feature:", feature.numpy(), "Label:", label.numpy())

Feature: [3 4] Label: 1
Feature: [5 6] Label: 0
Feature: [1 2] Label: 0
Feature: [7 8] Label: 1

In [ ]:
# Create a tensor of shape (2, 3) filled with zeros
zeros_tensor = tf.zeros(shape=(2, 3))
print("Zeros Tensor:\n", zeros_tensor)

Zeros Tensor:
 tf.Tensor(
[[0. 0. 0.]
 [0. 0. 0.]], shape=(2, 3), dtype=float32)

In [ ]:
# Create a tensor of shape (3, 2) filled with ones
ones_tensor = tf.ones(shape=(3, 2))
print("Ones Tensor:\n", ones_tensor)

Ones Tensor:
 tf.Tensor(
[[1. 1.]
 [1. 1.]
 [1. 1.]], shape=(3, 2), dtype=float32)

In [ ]:
# Create a tensor of shape (2, 3) filled with value 7
filled_tensor = tf.fill(dims=(2, 3), value=7)
print("Filled Tensor:\n", filled_tensor)

Filled Tensor:
 tf.Tensor(
[[7 7 7]
 [7 7 7]], shape=(2, 3), dtype=int32)

In [ ]:
# Create a tensor with values from 0 to 9 (step=1)
range_tensor = tf.range(start=0, limit=10, delta=1)
print("Range Tensor:\n", range_tensor)

Range Tensor:
 tf.Tensor([0 1 2 3 4 5 6 7 8 9], shape=(10,), dtype=int32)

In [ ]:
# Create a tensor with values from 0 to 9 (step=1)
range_tensor = tf.range(start=0, limit=10, delta=1)
print("Range Tensor:\n", range_tensor)

Range Tensor:
 tf.Tensor([0 1 2 3 4 5 6 7 8 9], shape=(10,), dtype=int32)

In [ ]:
# Create a tensor with 5 values evenly spaced between 0 and 1
linspace_tensor = tf.linspace(start=0.0, stop=1.0, num=5)
print("Linspace Tensor:\n", linspace_tensor)

Linspace Tensor:
 tf.Tensor([0.   0.25 0.5  0.75 1.  ], shape=(5,), dtype=float32)

In [ ]:
identity_matrix = tf.eye(num_rows=3, num_columns=3)
print("Identity Matrix:\n", identity_matrix)

Identity Matrix:
 tf.Tensor(
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]], shape=(3, 3), dtype=float32)

In [ ]:
diagonal_tensor = tf.linalg.diag([1, 2, 3])
print("Diagonal Tensor:\n", diagonal_tensor)

Diagonal Tensor:
 tf.Tensor(
[[1 0 0]
 [0 2 0]
 [0 0 3]], shape=(3, 3), dtype=int32)

In [ ]:
import numpy as np

# Create a NumPy array
numpy_array = np.array([[1, 2], [3, 4]])

# Convert to TensorFlow tensor
tensor_from_numpy = tf.convert_to_tensor(numpy_array)
print("Tensor from NumPy:\n", tensor_from_numpy)

Tensor from NumPy:
 tf.Tensor(
[[1 2]
 [3 4]], shape=(2, 2), dtype=int64)

In [ ]:
tensor = tf.constant([[1, 2, 3], [4, 5, 6]])
zeros_like_tensor = tf.zeros_like(tensor)
print("Zeros Like Tensor:\n", zeros_like_tensor)

Zeros Like Tensor:
 tf.Tensor(
[[0 0 0]
 [0 0 0]], shape=(2, 3), dtype=int32)

In [ ]:
ones_like_tensor = tf.ones_like(tensor)
print("Ones Like Tensor:\n", ones_like_tensor)

Ones Like Tensor:
 tf.Tensor(
[[1 1 1]
 [1 1 1]], shape=(2, 3), dtype=int32)

In [ ]:
# Create a tensor from a Python list
list_tensor = tf.convert_to_tensor([[1, 2, 3], [4, 5, 6]])
print("Tensor from List:\n", list_tensor)

Tensor from List:
 tf.Tensor(
[[1 2 3]
 [4 5 6]], shape=(2, 3), dtype=int32)

In [ ]:
# Create a sparse tensor
sparse_tensor = tf.sparse.SparseTensor(
    indices=[[0, 0], [1, 2]],  # Locations of non-zero values
    values=[1, 2],             # Non-zero values
    dense_shape=[3, 4]         # Shape of the tensor
)

# Convert sparse tensor to dense for visualization
dense_tensor = tf.sparse.to_dense(sparse_tensor)
print("Sparse Tensor as Dense:\n", dense_tensor)

Sparse Tensor as Dense:
 tf.Tensor(
[[1 0 0 0]
 [0 0 2 0]
 [0 0 0 0]], shape=(3, 4), dtype=int32)

In [ ]:
# Define a Python function
def my_func(x):
    return x * x

# Use `tf.map_fn` to apply the function element-wise
result_tensor = tf.map_fn(my_func, tf.constant([1, 2, 3]))
print("Tensor from Function:\n", result_tensor)

Tensor from Function:
 tf.Tensor([1 4 9], shape=(3,), dtype=int32)

In [1]:
import tensorflow as tf

# Create a 2D tensor
tensor = tf.constant([[1, 2, 3], [4, 5, 6]])

# Get the shape of the tensor
shape = tf.shape(tensor)
print("Shape of the tensor:", shape.numpy())  # Output: [2, 3] # 2 rows and 3 colums

Shape of the tensor: [2 3]

In [2]:
tensor_3d = tf.constant([
    [[1, 2], [3, 4]],
    [[5, 6], [7, 8]]
])
print("Shape of the tensor:", tensor_3d.shape)  # Output: (2, 2, 2)

Shape of the tensor: (2, 2, 2)

In [3]:
# Create a tensor
tensor = tf.constant([[1, 2, 3], [4, 5, 6]])

# Get the size of the tensor
size = tf.size(tensor)
print("Size of the tensor:", size.numpy())  # Output: 6

Size of the tensor: 6

In [4]:
# Create a tensor
tensor = tf.constant([[1, 2, 3], [4, 5, 6]])

# Get the number of dimensions
ndim = tensor.ndim
print("Number of dimensions (ndim):", ndim)  # Output: 2

Number of dimensions (ndim): 2

In [5]:
tensor_3d = tf.constant([
    [[1, 2], [3, 4]],
    [[5, 6], [7, 8]]
])

print("Number of dimensions (ndim):", tensor_3d.ndim)  # Output: 3

Number of dimensions (ndim): 3

In [6]:
import tensorflow as tf

tensor = tf.constant([[1, 2, 3], [4, 5, 6]])
print("Shape:", tensor.shape)  # Output: (2, 3)

Shape: (2, 3)

In [7]:


print("Number of dimensions (ndim):", tensor.ndim)  # Output: 2

Number of dimensions (ndim): 2

In [8]:
print("Data type (dtype):", tensor.dtype)  # Output: <dtype: 'int32'>

Data type (dtype): <dtype: 'int32'>

In [9]:
numpy_array = tensor.numpy()
print("NumPy array:\n", numpy_array)  # Output: [[1 2 3] [4 5 6]]

NumPy array:
 [[1 2 3]
 [4 5 6]]

In [10]:
tensor_gpu = tf.constant([1, 2, 3])
print("Device:", tensor_gpu.device)  # Example Output: "/job:localhost/replica:0/task:0/device:CPU:0"

Device: /job:localhost/replica:0/task:0/device:CPU:0

In [11]:
size = tf.size(tensor).numpy()
print("Size of the tensor:", size)  # Output: 6

Size of the tensor: 6

In [12]:
size = tf.size(tensor).numpy()
print("Size of the tensor:", size)  # Output: 6

Size of the tensor: 6

In [13]:
tensor_float = tf.cast(tensor, dtype=tf.float32)
print("Converted Tensor (dtype):", tensor_float.dtype)  # Output: <dtype: 'float32'>

Converted Tensor (dtype): <dtype: 'float32'>

In [14]:
# Simulate a batch of 32 RGB images, each of size 128x128
image_tensor = tf.random.uniform(shape=(32, 128, 128, 3), dtype=tf.float32)

# Get attributes
print("Shape of image batch:", image_tensor.shape)       # Output: (32, 128, 128, 3)
print("Number of dimensions:", image_tensor.ndim)        # Output: 4
print("Data type:", image_tensor.dtype)                  # Output: <dtype: 'float32'>
print("Total size:", tf.size(image_tensor).numpy())       # Output: 1572864

Shape of image batch: (32, 128, 128, 3)
Number of dimensions: 4
Data type: <dtype: 'float32'>
Total size: 1572864

In [1]:
import tensorflow as tf

# Create a 2D tensor
tensor = tf.constant([[1, 2, 3], [4, 5, 6]])

# Access specific elements
element = tensor[0, 1]  # Access the element at row 0, column 1
print("Element at (0, 1):", element.numpy())  # Output: 2

Element at (0, 1): 2

In [2]:
# Extract a sub-tensor (row 0, all columns)
row_0 = tensor[0, :]
print("Row 0:", row_0.numpy())  # Output: [1 2 3]

# Extract a sub-tensor (all rows, column 1)
col_1 = tensor[:, 1]
print("Column 1:", col_1.numpy())  # Output: [2 5]

Row 0: [1 2 3]
Column 1: [2 5]

In [3]:
# Access the last element of the first row
last_element = tensor[0, -1]
print("Last element of first row:", last_element.numpy())  # Output: 3

Last element of first row: 3

In [4]:
# Create a 3D tensor
tensor_3d = tf.constant([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])

# Select all elements in the first block
block_0 = tensor_3d[0, ...]
print("First block:\n", block_0.numpy())  # Output: [[1 2] [3 4]]

First block:
 [[1 2]
 [3 4]]

In [5]:
# Extract every second element from the first row
strided_slice = tensor[0, ::2]
print("Every second element from row 0:", strided_slice.numpy())  # Output: [1 3]

Every second element from row 0: [1 3]

In [6]:
# Create a tensor
tensor = tf.constant([1, 2, 3, 4, 5])

# Apply a condition (e.g., elements > 3)
mask = tensor > 3
filtered_elements = tf.boolean_mask(tensor, mask)
print("Filtered elements:", filtered_elements.numpy())  # Output: [4 5]

Filtered elements: [4 5]

In [7]:
# Create a tensor
tensor = tf.constant([10, 20, 30, 40, 50])

# Gather elements at specific indices
selected = tf.gather(tensor, [0, 3, 4])
print("Gathered elements:", selected.numpy())  # Output: [10 40 50]

Gathered elements: [10 40 50]

In [8]:
# Create a 2D tensor
tensor = tf.constant([[1, 2, 3], [4, 5, 6]])

# Gather specific elements (e.g., (0, 1) and (1, 2))
indices = [[0, 1], [1, 2]]
selected = tf.gather_nd(tensor, indices)
print("Selected elements:", selected.numpy())  # Output: [2 6]

Selected elements: [2 6]

In [9]:
# Simulate an image tensor of shape (4, 4, 3) (4x4 image, 3 color channels)
image = tf.random.uniform(shape=(4, 4, 3), minval=0, maxval=256, dtype=tf.int32)

# Extract the pixel at (2, 2)
pixel = image[2, 2, :]
print("Pixel at (2, 2):", pixel.numpy())

# Extract the red channel of the image
red_channel = image[:, :, 0]
print("Red channel:\n", red_channel.numpy())

Pixel at (2, 2): [252   8 235]
Red channel:
 [[ 22 227  26  67]
 [ 75 162  44  78]
 [159  49 252 202]
 [113 161 249 167]]

In [10]:
import tensorflow as tf

# Create a rank-2 tensor (2x3 matrix)
tensor_2d = tf.constant([[1, 2, 3], [4, 5, 6]])

print("Tensor:\n", tensor_2d.numpy())
print("Shape:", tensor_2d.shape)  # Output: (2, 3)
print("Rank (ndim):", tensor_2d.ndim)  # Output: 2

Tensor:
 [[1 2 3]
 [4 5 6]]
Shape: (2, 3)
Rank (ndim): 2

In [11]:
tensor_zeros = tf.zeros(shape=(2, 3))  # 2 rows, 3 columns
print("Tensor filled with zeros:\n", tensor_zeros.numpy())

Tensor filled with zeros:
 [[0. 0. 0.]
 [0. 0. 0.]]

In [12]:
tensor_ones = tf.ones(shape=(2, 3))  # 2 rows, 3 columns
print("Tensor filled with ones:\n", tensor_ones.numpy())

Tensor filled with ones:
 [[1. 1. 1.]
 [1. 1. 1.]]

In [13]:
tensor_random = tf.random.uniform(shape=(2, 3), minval=0, maxval=10, dtype=tf.int32)
print("Tensor with random values:\n", tensor_random.numpy())

Tensor with random values:
 [[9 1 9]
 [4 2 4]]

In [14]:
import tensorflow as tf

# Create a rank-1 tensor (1D)
tensor = tf.constant([1, 2, 3])

# Expand along the first axis
expanded_0 = tf.expand_dims(tensor, axis=0)  # Adds a new axis at position 0
print("Expanded (axis=0):", expanded_0.numpy())  # Output: [[1, 2, 3]]
print("Shape:", expanded_0.shape)  # Output: (1, 3)

# Expand along the last axis
expanded_1 = tf.expand_dims(tensor, axis=-1)  # Adds a new axis at the end
print("Expanded (axis=-1):\n", expanded_1.numpy())  # Output: [[1], [2], [3]]
print("Shape:", expanded_1.shape)  # Output: (3, 1)

Expanded (axis=0): [[1 2 3]]
Shape: (1, 3)
Expanded (axis=-1):
 [[1]
 [2]
 [3]]
Shape: (3, 1)

In [15]:
# Create a rank-2 tensor (2D)
tensor_2d = tf.constant([[1, 2, 3], [4, 5, 6]])

# Expand along the first axis
expanded_0 = tf.expand_dims(tensor_2d, axis=0)
print("Expanded (axis=0):\n", expanded_0.numpy())  # Shape: (1, 2, 3)

# Expand along the last axis
expanded_last = tf.expand_dims(tensor_2d, axis=-1)
print("Expanded (axis=-1):\n", expanded_last.numpy())  # Shape: (2, 3, 1)

Expanded (axis=0):
 [[[1 2 3]
  [4 5 6]]]
Expanded (axis=-1):
 [[[1]
  [2]
  [3]]

 [[4]
  [5]
  [6]]]

In [16]:
# Create a scalar tensor
scalar = tf.constant(7)

# Expand to a rank-1 tensor
expanded_1d = tf.expand_dims(scalar, axis=0)
print("Expanded scalar to rank-1:", expanded_1d.numpy())  # Output: [7]
print("Shape:", expanded_1d.shape)  # Output: (1,)

# Expand to a rank-2 tensor
expanded_2d = tf.expand_dims(expanded_1d, axis=-1)
print("Expanded scalar to rank-2:\n", expanded_2d.numpy())  # Output: [[7]]
print("Shape:", expanded_2d.shape)  # Output: (1, 1)

Expanded scalar to rank-1: [7]
Shape: (1,)
Expanded scalar to rank-2:
 [[7]]
Shape: (1, 1)

In [17]:
# Simulate a grayscale image tensor of shape (128, 128)
image = tf.random.uniform(shape=(128, 128), minval=0, maxval=256, dtype=tf.int32)

# Add a channel dimension
image_with_channel = tf.expand_dims(image, axis=-1)  # Shape: (128, 128, 1)

print("Image with channel dimension:\n", image_with_channel.shape)  # Output: (128, 128, 1)

Image with channel dimension:
 (128, 128, 1)

In [18]:
import tensorflow as tf

# Original tensor
tensor = tf.constant([[1, 2, 3], [4, 5, 6]])

# Reshape to a different shape (3x2)
reshaped_tensor = tf.reshape(tensor, (3, 2))
print("Original shape:", tensor.shape)         # (2, 3)
print("Reshaped tensor:\n", reshaped_tensor)   # [[1 2] [3 4] [5 6]]

Original shape: (2, 3)
Reshaped tensor:
 tf.Tensor(
[[1 2]
 [3 4]
 [5 6]], shape=(3, 2), dtype=int32)

In [19]:
# Original tensor (2x3)
tensor = tf.constant([[1, 2, 3], [4, 5, 6]])

# Transpose the tensor (swap rows and columns)
transposed = tf.transpose(tensor)
print("Transposed tensor:\n", transposed)  # [[1 4] [2 5] [3 6]]

Transposed tensor:
 tf.Tensor(
[[1 4]
 [2 5]
 [3 6]], shape=(3, 2), dtype=int32)

In [20]:
# Two tensors to concatenate
tensor1 = tf.constant([[1, 2], [3, 4]])
tensor2 = tf.constant([[5, 6], [7, 8]])

# Concatenate along rows (axis=0)
concat_axis_0 = tf.concat([tensor1, tensor2], axis=0)
print("Concatenated along axis 0:\n", concat_axis_0)
# Output: [[1 2] [3 4] [5 6] [7 8]]

# Concatenate along columns (axis=1)
concat_axis_1 = tf.concat([tensor1, tensor2], axis=1)
print("Concatenated along axis 1:\n", concat_axis_1)
# Output: [[1 2 5 6] [3 4 7 8]]

Concatenated along axis 0:
 tf.Tensor(
[[1 2]
 [3 4]
 [5 6]
 [7 8]], shape=(4, 2), dtype=int32)
Concatenated along axis 1:
 tf.Tensor(
[[1 2 5 6]
 [3 4 7 8]], shape=(2, 4), dtype=int32)

In [21]:
# Tensors to stack
tensor1 = tf.constant([1, 2])
tensor2 = tf.constant([3, 4])

# Stack along a new axis (axis=0)
stacked_0 = tf.stack([tensor1, tensor2], axis=0)
print("Stacked along axis 0:\n", stacked_0)  # [[1 2] [3 4]]

# Stack along a new axis (axis=1)
stacked_1 = tf.stack([tensor1, tensor2], axis=1)
print("Stacked along axis 1:\n", stacked_1)  # [[1 3] [2 4]]

Stacked along axis 0:
 tf.Tensor(
[[1 2]
 [3 4]], shape=(2, 2), dtype=int32)
Stacked along axis 1:
 tf.Tensor(
[[1 3]
 [2 4]], shape=(2, 2), dtype=int32)

In [22]:
# Tensor to split
tensor = tf.constant([1, 2, 3, 4, 5, 6])

# Split into 3 parts
split_tensors = tf.split(tensor, num_or_size_splits=3)
for i, t in enumerate(split_tensors):
    print(f"Split {i}:\n", t)  # [1 2], [3 4], [5 6]

Split 0:
 tf.Tensor([1 2], shape=(2,), dtype=int32)
Split 1:
 tf.Tensor([3 4], shape=(2,), dtype=int32)
Split 2:
 tf.Tensor([5 6], shape=(2,), dtype=int32)

In [23]:
# 1D tensor
tensor = tf.constant([1, 2, 3])

# Add a new dimension at axis 0
expanded = tf.expand_dims(tensor, axis=0)
print("Expanded tensor:\n", expanded)  # [[1 2 3]]

Expanded tensor:
 tf.Tensor([[1 2 3]], shape=(1, 3), dtype=int32)

In [24]:
# Float tensor
tensor = tf.constant([1.1, 2.2, 3.3], dtype=tf.float32)

# Convert to integer
casted_tensor = tf.cast(tensor, dtype=tf.int32)
print("Casted tensor:", casted_tensor)  # [1 2 3]

Casted tensor: tf.Tensor([1 2 3], shape=(3,), dtype=int32)

In [25]:
# Two tensors
tensor1 = tf.constant([1, 2, 3])
tensor2 = tf.constant([4, 5, 6])

# Addition
result = tf.add(tensor1, tensor2)
print("Addition:", result)  # [5 7 9]

# Multiplication
result = tf.multiply(tensor1, tensor2)
print("Multiplication:", result)  # [4 10 18]

Addition: tf.Tensor([5 7 9], shape=(3,), dtype=int32)
Multiplication: tf.Tensor([ 4 10 18], shape=(3,), dtype=int32)

In [26]:
# Tensor and scalar
tensor = tf.constant([[1, 2], [3, 4]])

# Add scalar to tensor
result = tensor + 5
print("Broadcasted addition:\n", result)  # [[6 7] [8 9]]

Broadcasted addition:
 tf.Tensor(
[[6 7]
 [8 9]], shape=(2, 2), dtype=int32)

In [27]:
# Grayscale image tensor (2D)
image = tf.random.uniform((28, 28), minval=0, maxval=255, dtype=tf.int32)

# Normalize the image (convert to float32 and scale between 0 and 1)
normalized_image = tf.cast(image, dtype=tf.float32) / 255.0

# Add a batch dimension
image_with_batch = tf.expand_dims(normalized_image, axis=0)

print("Original shape:", image.shape)          # (28, 28)
print("Normalized and batched shape:", image_with_batch.shape)  # (1, 28, 28)

Original shape: (28, 28)
Normalized and batched shape: (1, 28, 28)

![image.png]()

#Matrix multiplication

In [1]:
import tensorflow as tf

# Define matrices
matrix_a = tf.constant([[1, 2], [3, 4]])  # Shape: (2, 2)
matrix_b = tf.constant([[5, 6], [7, 8]])  # Shape: (2, 2)

# Perform matrix multiplication
result = tf.matmul(matrix_a, matrix_b)

print("Matrix A:\n", matrix_a.numpy())
print("Matrix B:\n", matrix_b.numpy())
print("Result of Matrix Multiplication:\n", result.numpy())

Matrix A:
 [[1 2]
 [3 4]]
Matrix B:
 [[5 6]
 [7 8]]
Result of Matrix Multiplication:
 [[19 22]
 [43 50]]

In [2]:
result = matrix_a @ matrix_b
print("Result using @ operator:\n", result.numpy())

Result using @ operator:
 [[19 22]
 [43 50]]

In [3]:
matrix = tf.constant([[1, 2], [3, 4], [5, 6]])  # Shape: (3, 2)
vector = tf.constant([7, 8])                   # Shape: (2,)

# Broadcast and multiply
result = tf.matmul(matrix, tf.reshape(vector, (-1, 1)))

print("Matrix:\n", matrix.numpy())
print("Vector:\n", vector.numpy())
print("Result of Broadcasting:\n", result.numpy())

Matrix:
 [[1 2]
 [3 4]
 [5 6]]
Vector:
 [7 8]
Result of Broadcasting:
 [[23]
 [53]
 [83]]

In [4]:
# Define batch of matrices
batch_a = tf.constant([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])  # Shape: (2, 2, 2)
batch_b = tf.constant([[[9, 10], [11, 12]], [[13, 14], [15, 16]]])  # Shape: (2, 2, 2)

# Perform batch matrix multiplication
batch_result = tf.matmul(batch_a, batch_b)

print("Batch Result:\n", batch_result.numpy())

Batch Result:
 [[[ 31  34]
  [ 71  78]]

 [[155 166]
  [211 226]]]

In [5]:
tensor_3d = tf.random.uniform((4, 3, 2))  # Shape: (4, 3, 2)
matrix_2d = tf.random.uniform((2, 5))    # Shape: (2, 5)

# Multiply
result = tf.matmul(tensor_3d, matrix_2d)  # Resulting shape: (4, 3, 5)
print("Result Shape:", result.shape)

Result Shape: (4, 3, 5)

In [6]:
# Simulate input and weights
inputs = tf.constant([[1.0, 2.0], [3.0, 4.0]])  # Input shape: (2, 2)
weights = tf.constant([[0.5, 1.5], [2.0, 1.0]]) # Weights shape: (2, 2)

# Linear transformation
output = tf.matmul(inputs, weights)
print("Layer output:\n", output.numpy())

Layer output:
 [[4.5 3.5]
 [9.5 8.5]]

In [7]:
import tensorflow as tf

# Shape (2, 3)
matrix_a = tf.constant([[1, 2, 3], [4, 5, 6]])

# Shape (3, 2)
matrix_b = tf.constant([[7, 8], [9, 10], [11, 12]])

# Matrix multiplication
result = tf.matmul(matrix_a, matrix_b)
print("Result shape:", result.shape)
print("Result:\n", result.numpy())

Result shape: (2, 2)
Result:
 [[ 58  64]
 [139 154]]

In [8]:
# Shape (2, 2) and (2, 2) are incompatible for multiplication.
matrix_a = tf.constant([[1, 2], [3, 4]])
matrix_b = tf.constant([[5, 6], [7, 8]])

try:
    result = tf.matmul(matrix_a, matrix_b)  # Error expected
except Exception as e:
    print("Error:", e)

In [9]:
# Batch of matrices (2 matrices of shape (2, 3))
batch_a = tf.constant([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])  # Shape (2, 2, 3)

# Single matrix (broadcasted for multiplication)
matrix_b = tf.constant([[1, 2], [3, 4], [5, 6]])  # Shape (3, 2)

# Resulting shape: (2, 2, 2)
result = tf.matmul(batch_a, matrix_b)
print("Result shape:", result.shape)
print("Result:\n", result.numpy())

Result shape: (2, 2, 2)
Result:
 [[[ 22  28]
  [ 49  64]]

 [[ 76 100]
  [103 136]]]

In [10]:
# Batch of matrices (2 matrices of shape (2, 3))
batch_a = tf.constant([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])  # Shape (2, 2, 3)

# Single matrix (broadcasted for multiplication)
matrix_b = tf.constant([[1, 2], [3, 4], [5, 6]])  # Shape (3, 2)

# Resulting shape: (2, 2, 2)
result = tf.matmul(batch_a, matrix_b)
print("Result shape:", result.shape)
print("Result:\n", result.numpy())

Result shape: (2, 2, 2)
Result:
 [[[ 22  28]
  [ 49  64]]

 [[ 76 100]
  [103 136]]]

In [11]:
# Shape (4,)
vector = tf.constant([1, 2, 3, 4])  # 1D tensor

# Reshape vector to (1, 4) to make it compatible
reshaped_vector = tf.reshape(vector, (1, 4))  # Shape: (1, 4)

# Shape (4, 3)
matrix = tf.constant([[5, 6, 7], [8, 9, 10], [11, 12, 13], [14, 15, 16]])

# Multiply reshaped vector with matrix
result = tf.matmul(reshaped_vector, matrix)
print("Result shape:", result.shape)
print("Result:\n", result.numpy())

Result shape: (1, 3)
Result:
 [[110 120 130]]

![image.png]()

Inner dimension of the matrix should match for vector multiplication

In [12]:
import tensorflow as tf

# Shape (2, 3)
matrix_a = tf.constant([[1, 2, 3], [4, 5, 6]])

# Shape (3, 4)
matrix_b = tf.constant([[7, 8, 9, 10], [11, 12, 13, 14], [15, 16, 17, 18]])

# Multiply (inner dimensions match)
result = tf.matmul(matrix_a, matrix_b)
print("Result:\n", result.numpy())

Result:
 [[ 74  80  86  92]
 [173 188 203 218]]

In [13]:
import tensorflow as tf

# Define a matrix
matrix = tf.constant([[1, 2, 3], [4, 5, 6]])
print("Original Matrix:\n", matrix.numpy())

# Transpose the matrix
transposed_matrix = tf.transpose(matrix)
print("Transposed Matrix:\n", transposed_matrix.numpy())

Original Matrix:
 [[1 2 3]
 [4 5 6]]
Transposed Matrix:
 [[1 4]
 [2 5]
 [3 6]]

In [14]:
# Inputs (shape: batch_size x features)
inputs = tf.constant([[1, 2], [3, 4]])  # Shape (2, 2)

# Weights (features x neurons)
weights = tf.constant([[1, 0], [0, 1]])  # Shape (2, 2)

# Transpose weights if needed
transposed_weights = tf.transpose(weights)  # Shape (2, 2)

# Multiply inputs with transposed weights
output = tf.matmul(inputs, transposed_weights)
print("Output:\n", output.numpy())

Output:
 [[1 2]
 [3 4]]

In [15]:
# 3D Tensor
tensor = tf.constant([
    [[1, 2, 3], [4, 5, 6]],
    [[7, 8, 9], [10, 11, 12]]
])  # Shape (2, 2, 3)

# Transpose axes (swap the last two dimensions)
transposed_tensor = tf.transpose(tensor, perm=[0, 2, 1])  # Shape (2, 3, 2)

print("Original Tensor:\n", tensor.numpy())
print("Transposed Tensor:\n", transposed_tensor.numpy())

Original Tensor:
 [[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]
Transposed Tensor:
 [[[ 1  4]
  [ 2  5]
  [ 3  6]]

 [[ 7 10]
  [ 8 11]
  [ 9 12]]]

In [16]:
import tensorflow as tf

# Define a matrix
matrix = tf.constant([[1, 2, 3], [4, 5, 6]])
print("Original Matrix:\n", matrix.numpy())

# Transpose the matrix
transposed_matrix = tf.transpose(matrix)
print("Transposed Matrix:\n", transposed_matrix.numpy())

Original Matrix:
 [[1 2 3]
 [4 5 6]]
Transposed Matrix:
 [[1 4]
 [2 5]
 [3 6]]

In [17]:
import tensorflow as tf

# Shape (2, 3)
matrix_a = tf.constant([[1, 2, 3], [4, 5, 6]])

# Shape (3, 4)
matrix_b = tf.constant([[7, 8, 9, 10], [11, 12, 13, 14], [15, 16, 17, 18]])

# Multiply (inner dimensions match)
result = tf.matmul(matrix_a, matrix_b)
print("Result:\n", result.numpy())

Result:
 [[ 74  80  86  92]
 [173 188 203 218]]

In [1]:
import tensorflow as tf

# Create a tensor with default data type
default_tensor = tf.constant([1, 2, 3, 4])

print("Tensor:", default_tensor)
print("Data Type:", default_tensor.dtype)

Tensor: tf.Tensor([1 2 3 4], shape=(4,), dtype=int32)
Data Type: <dtype: 'int32'>

In [2]:
# Create a tensor of zeros with default data type
zeros_tensor = tf.zeros([2, 3])  # Shape (2, 3)

print("Tensor:\n", zeros_tensor)
print("Data Type:", zeros_tensor.dtype)

Tensor:
 tf.Tensor(
[[0. 0. 0.]
 [0. 0. 0.]], shape=(2, 3), dtype=float32)
Data Type: <dtype: 'float32'>

In [3]:
# Create a tensor of ones with default data type
ones_tensor = tf.ones([3, 2])  # Shape (3, 2)

print("Tensor:\n", ones_tensor)
print("Data Type:", ones_tensor.dtype)

Tensor:
 tf.Tensor(
[[1. 1.]
 [1. 1.]
 [1. 1.]], shape=(3, 2), dtype=float32)
Data Type: <dtype: 'float32'>

In [4]:
# Create a tensor with random values
random_tensor = tf.random.uniform(shape=[2, 2])  # Shape (2, 2)

print("Tensor:\n", random_tensor)
print("Data Type:", random_tensor.dtype)

Tensor:
 tf.Tensor(
[[0.05316412 0.47168803]
 [0.02948093 0.441149  ]], shape=(2, 2), dtype=float32)
Data Type: <dtype: 'float32'>

In [1]:
import tensorflow as tf

# Integer tensor
int_tensor = tf.constant([1, 2, 3], dtype=tf.int32)

# Cast to float
float_tensor = tf.cast(int_tensor, tf.float32)

print("Integer Tensor:", int_tensor.numpy())
print("Float Tensor:", float_tensor.numpy())

Integer Tensor: [1 2 3]
Float Tensor: [1. 2. 3.]

In [2]:
# Float tensor
float_tensor = tf.constant([1.7, 2.9, 3.4], dtype=tf.float32)

# Cast to integer (truncates decimal part)
int_tensor = tf.cast(float_tensor, tf.int32)

print("Float Tensor:", float_tensor.numpy())
print("Integer Tensor:", int_tensor.numpy())

Float Tensor: [1.7 2.9 3.4]
Integer Tensor: [1 2 3]

In [3]:
# Numeric tensor
numeric_tensor = tf.constant([0, 1, -1, 2], dtype=tf.int32)

# Cast to boolean (0 -> False, non-zero -> True)
bool_tensor = tf.cast(numeric_tensor, tf.bool)

print("Numeric Tensor:", numeric_tensor.numpy())
print("Boolean Tensor:", bool_tensor.numpy())

Numeric Tensor: [ 0  1 -1  2]
Boolean Tensor: [False  True  True  True]

In [4]:
# Boolean tensor
bool_tensor = tf.constant([True, False, True], dtype=tf.bool)

# Cast to float (True -> 1.0, False -> 0.0)
float_tensor = tf.cast(bool_tensor, tf.float32)

print("Boolean Tensor:", bool_tensor.numpy())
print("Float Tensor:", float_tensor.numpy())

Boolean Tensor: [ True False  True]
Float Tensor: [1. 0. 1.]

In [5]:
# Default tensor
default_tensor = tf.constant([1, 2, 3])

# Explicitly cast to int32
int_tensor = tf.cast(default_tensor, tf.int32)

print("Default Tensor:", default_tensor.numpy())
print("Cast to Int Tensor:", int_tensor.numpy())

Default Tensor: [1 2 3]
Cast to Int Tensor: [1 2 3]

In [6]:
image = tf.constant([[0, 128, 255]], dtype=tf.uint8)
normalized_image = tf.cast(image, tf.float32) / 255.0
print(normalized_image.numpy())

[[0.        0.5019608 1.       ]]

#aggregation of tensors

In [7]:
import tensorflow as tf

# Create a tensor
tensor = tf.constant([[1, 2, 3], [4, 5, 6]], dtype=tf.float32)
print("Tensor:\n", tensor.numpy())

Tensor:
 [[1. 2. 3.]
 [4. 5. 6.]]

In [8]:
# Sum all elements
total_sum = tf.reduce_sum(tensor)
print("Sum of all elements:", total_sum.numpy())

Sum of all elements: 21.0

In [9]:
# Mean of all elements
mean_value = tf.reduce_mean(tensor)
print("Mean of all elements:", mean_value.numpy())

Mean of all elements: 3.5

In [10]:
# Maximum value
max_value = tf.reduce_max(tensor)

# Minimum value
min_value = tf.reduce_min(tensor)

print("Maximum value:", max_value.numpy())
print("Minimum value:", min_value.numpy())

Maximum value: 6.0
Minimum value: 1.0

In [11]:
# Sum along rows (axis=1)
row_sum = tf.reduce_sum(tensor, axis=1)

# Sum along columns (axis=0)
col_sum = tf.reduce_sum(tensor, axis=0)

print("Sum along rows:", row_sum.numpy())
print("Sum along columns:", col_sum.numpy())

Sum along rows: [ 6. 15.]
Sum along columns: [5. 7. 9.]

In [12]:
# Variance
variance = tf.math.reduce_variance(tensor)

# Standard deviation
std_dev = tf.math.reduce_std(tensor)

print("Variance:", variance.numpy())
print("Standard Deviation:", std_dev.numpy())

Variance: 2.9166667
Standard Deviation: 1.7078252

In [13]:
# Product of all elements
product = tf.reduce_prod(tensor)
print("Product of all elements:", product.numpy())

Product of all elements: 720.0

In [14]:
# Sum along columns with keepdims=True
col_sum_keepdims = tf.reduce_sum(tensor, axis=0, keepdims=True)

print("Column sum with keepdims:\n", col_sum_keepdims.numpy())

Column sum with keepdims:
 [[5. 7. 9.]]

In TensorFlow, finding the positional maximum or minimum in a tensor means identifying the index/position of the maximum or minimum value in the tensor along a specific axis. For this, we use:

tf.argmax: Returns the index of the maximum value along a specific axis.
tf.argmin: Returns the index of the minimum value along a specific axis.

In [15]:
import tensorflow as tf

# 1D Tensor
tensor_1d = tf.constant([5, 8, 3, 9, 2])

# Position of maximum value
max_index = tf.argmax(tensor_1d)

# Position of minimum value
min_index = tf.argmin(tensor_1d)

print("Tensor:", tensor_1d.numpy())
print("Index of maximum value:", max_index.numpy())
print("Index of minimum value:", min_index.numpy())

Tensor: [5 8 3 9 2]
Index of maximum value: 3
Index of minimum value: 4

In [16]:
# 2D Tensor
tensor_2d = tf.constant([[1, 3, 2],
                         [4, 6, 5],
                         [7, 8, 9]])

# Position of maximum values along axis 0 (columns)
max_indices_axis0 = tf.argmax(tensor_2d, axis=0)

# Position of minimum values along axis 1 (rows)
min_indices_axis1 = tf.argmin(tensor_2d, axis=1)

print("Tensor:\n", tensor_2d.numpy())
print("Indices of maximum values along axis 0:", max_indices_axis0.numpy())
print("Indices of minimum values along axis 1:", min_indices_axis1.numpy())

Tensor:
 [[1 3 2]
 [4 6 5]
 [7 8 9]]
Indices of maximum values along axis 0: [2 2 2]
Indices of minimum values along axis 1: [0 0 0]

In [17]:
# Simulating a grayscale image as a tensor
image_tensor = tf.constant([[34, 12, 45],
                            [67, 89, 23],
                            [78, 56, 90]])

# Brightest pixel position
brightest_pixel_index = tf.argmax(tf.reshape(image_tensor, [-1]))

# Darkest pixel position
darkest_pixel_index = tf.argmin(tf.reshape(image_tensor, [-1]))

print("Image Tensor:\n", image_tensor.numpy())
print("Position of brightest pixel (flattened):", brightest_pixel_index.numpy())
print("Position of darkest pixel (flattened):", darkest_pixel_index.numpy())

Image Tensor:
 [[34 12 45]
 [67 89 23]
 [78 56 90]]
Position of brightest pixel (flattened): 8
Position of darkest pixel (flattened): 1

tf.argmax and tf.argmin return indices, not the values themselves.
If there are ties (multiple maximum/minimum values), the index of the first occurrence is returned.
These functions are especially useful in:
Classification tasks: Identifying predicted class indices.
Image processing: Finding the position of key points (e.g., brightest or darkest pixels).

In [18]:
import tensorflow as tf

# Create a tensor with shape (1, 3, 1, 2)
tensor = tf.constant([[[[1, 2]], [[3, 4]], [[5, 6]]]])

print("Original Tensor Shape:", tensor.shape)

# Squeeze to remove all dimensions of size 1
squeezed_tensor = tf.squeeze(tensor)

print("Squeezed Tensor Shape:", squeezed_tensor.shape)

Original Tensor Shape: (1, 3, 1, 2)
Squeezed Tensor Shape: (3, 2)

In [19]:
# Create a tensor with shape (1, 3, 1, 2)
tensor = tf.constant([[[[1, 2]], [[3, 4]], [[5, 6]]]])

print("Original Tensor Shape:", tensor.shape)

# Squeeze only the first axis (axis=0)
squeezed_axis0 = tf.squeeze(tensor, axis=0)

print("Squeezed Tensor Shape (axis=0):", squeezed_axis0.shape)

# Squeeze only the third axis (axis=2)
squeezed_axis2 = tf.squeeze(tensor, axis=2)

print("Squeezed Tensor Shape (axis=2):", squeezed_axis2.shape)

Original Tensor Shape: (1, 3, 1, 2)
Squeezed Tensor Shape (axis=0): (3, 1, 2)
Squeezed Tensor Shape (axis=2): (1, 3, 2)

In [20]:
# Tensor shape: (1, 3, 1, 2)
tensor = tf.constant([[[[1, 2]], [[3, 4]], [[5, 6]]]])

try:
    # Attempt to squeeze axis=1 (which has size 3)
    tf.squeeze(tensor, axis=1)
except ValueError as e:
    print("Error:", e)

InvalidArgumentError: {{function_node __wrapped__Squeeze_device_/job:localhost/replica:0/task:0/device:CPU:0}} Can not squeeze dim[1], expected a dimension of 1, got 3 [Op:Squeeze] name:

In [22]:
# Tensor shape: (1, 3, 1, 2)
tensor = tf.constant([[[[1, 2]], [[3, 4]], [[5, 6]]]])

try:
    # Attempt to squeeze axis=0 or axis=2 (which have size 1)
    squeezed_tensor = tf.squeeze(tensor, axis=[0, 2])  # Squeeze axes 0 and 2
    print("Squeezed Tensor Shape:", squeezed_tensor.shape)
except ValueError as e:
    print("Error:", e)

Squeezed Tensor Shape: (3, 2)

In [21]:
# Grayscale image tensor with shape (1, 28, 28, 1)
image = tf.random.uniform((1, 28, 28, 1))

# Remove the batch and channel dimensions
squeezed_image = tf.squeeze(image)

print("Original Shape:", image.shape)
print("Squeezed Shape:", squeezed_image.shape)

Original Shape: (1, 28, 28, 1)
Squeezed Shape: (28, 28)

In [23]:
# Model output tensor with shape (4, 1)
predictions = tf.constant([[0.1], [0.8], [0.3], [0.5]])

# Squeeze to remove the second dimension
squeezed_predictions = tf.squeeze(predictions)

print("Original Shape:", predictions.shape)
print("Squeezed Shape:", squeezed_predictions.shape)

Original Shape: (4, 1)
Squeezed Shape: (4,)

In [24]:
# Result of broadcasting
broadcast_tensor = tf.constant([[[[1, 2]]]]) + tf.constant([[[[3, 4]]]])

# Squeeze the result to simplify shape
simplified_tensor = tf.squeeze(broadcast_tensor)

print("Broadcast Tensor Shape:", broadcast_tensor.shape)
print("Simplified Tensor Shape:", simplified_tensor.shape)

Broadcast Tensor Shape: (1, 1, 1, 2)
Simplified Tensor Shape: (2,)

Use tf.squeeze() to remove dimensions with size 1 for simplifying tensor shapes.
Specify the axis to control which dimensions to remove, or leave it as None to remove all singleton dimensions.
Squeezing is often used in:
Image processing (e.g., removing extra dimensions after loading an image).
Simplifying model outputs (e.g., flattening predictions).
Preparing data for visualization or further computation.

In [25]:
import tensorflow as tf

# Categories represented as indices
categories = tf.constant([0, 1, 2, 1])

# Perform one-hot encoding
one_hot_tensor = tf.one_hot(categories, depth=3)

print("Original Tensor:", categories.numpy())
print("One-Hot Encoded Tensor:\n", one_hot_tensor.numpy())

Original Tensor: [0 1 2 1]
One-Hot Encoded Tensor:
 [[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]
 [0. 1. 0.]]

In [26]:
# Perform one-hot encoding along the 0th axis
one_hot_tensor_axis0 = tf.one_hot(categories, depth=3, axis=0)

print("One-Hot Encoded Tensor (axis=0):\n", one_hot_tensor_axis0.numpy())

One-Hot Encoded Tensor (axis=0):
 [[1. 0. 0. 0.]
 [0. 1. 0. 1.]
 [0. 0. 1. 0.]]

In [27]:
# 2D tensor of categories
categories_2d = tf.constant([[0, 1], [2, 1]])

# Perform one-hot encoding
one_hot_tensor_2d = tf.one_hot(categories_2d, depth=3)

print("Original Tensor:\n", categories_2d.numpy())
print("One-Hot Encoded Tensor:\n", one_hot_tensor_2d.numpy())

Original Tensor:
 [[0 1]
 [2 1]]
One-Hot Encoded Tensor:
 [[[1. 0. 0.]
  [0. 1. 0.]]

 [[0. 0. 1.]
  [0. 1. 0.]]]

In [28]:
# Define class labels
classes = ["cat", "dog", "rabbit"]
class_indices = tf.constant([0, 2, 1, 0])  # Corresponding to "cat", "rabbit", "dog", "cat"

# One-hot encode the class indices
one_hot_labels = tf.one_hot(class_indices, depth=len(classes))

print("Class Indices:", class_indices.numpy())
print("One-Hot Encoded Labels:\n", one_hot_labels.numpy())

Class Indices: [0 2 1 0]
One-Hot Encoded Labels:
 [[1. 0. 0.]
 [0. 0. 1.]
 [0. 1. 0.]
 [1. 0. 0.]]

In [29]:
import tensorflow as tf

# Define class labels (textual categories)
categories = ["cat", "dog", "rabbit"]

# Assign class indices to each category
class_indices = tf.constant([0, 2, 1, 0])  # Representing "cat", "rabbit", "dog", "cat"

# Convert class indices to one-hot encoding
one_hot_labels = tf.one_hot(class_indices, depth=len(categories))

print("Class Indices:", class_indices.numpy())
print("One-Hot Encoded Labels:\n", one_hot_labels.numpy())

Class Indices: [0 2 1 0]
One-Hot Encoded Labels:
 [[1. 0. 0.]
 [0. 0. 1.]
 [0. 1. 0.]
 [1. 0. 0.]]

In [30]:
import tensorflow as tf

# Create a tensor
tensor = tf.constant([1, 2, 3, 4, 5], dtype=tf.float32)

# Square the tensor
squared_tensor = tf.square(tensor)

print("Original Tensor:", tensor.numpy())
print("Squared Tensor:", squared_tensor.numpy())

Original Tensor: [1. 2. 3. 4. 5.]
Squared Tensor: [ 1.  4.  9. 16. 25.]

In [31]:
# Create a tensor
tensor = tf.constant([1, 10, 100, 1000], dtype=tf.float32)

# Natural log
log_tensor = tf.math.log(tensor)

# Log base 10
log10_tensor = tf.math.log10(tensor)

print("Original Tensor:", tensor.numpy())
print("Natural Log:", log_tensor.numpy())
print("Log Base 10:", log10_tensor.numpy())

AttributeError: module 'tensorflow._api.v2.math' has no attribute 'log10'

In [33]:
import tensorflow as tf

# Create a tensor
tensor = tf.constant([1, 10, 100, 1000], dtype=tf.float32)

# Natural log
log_tensor = tf.math.log(tensor)

# Log base 10 (using a different approach)
log10_tensor = tf.math.log(tensor) / tf.math.log(tf.constant(10, dtype=tensor.dtype))

print("Original Tensor:", tensor.numpy())
print("Natural Log:", log_tensor.numpy())
print("Log Base 10:", log10_tensor.numpy())

Original Tensor: [   1.   10.  100. 1000.]
Natural Log: [0.        2.3025851 4.6051702 6.9077554]
Log Base 10: [0. 1. 2. 3.]

In [32]:
# Create a tensor
tensor = tf.constant([1, 4, 9, 16, 25], dtype=tf.float32)

# Square root
sqrt_tensor = tf.sqrt(tensor)

print("Original Tensor:", tensor.numpy())
print("Square Root Tensor:", sqrt_tensor.numpy())

Original Tensor: [ 1.  4.  9. 16. 25.]
Square Root Tensor: [1. 2. 3. 4. 5.]

In [34]:
# Tensor with positive values
tensor = tf.constant([1, 4, 9, 16], dtype=tf.float32)

# Calculate log of square root of squared tensor
result = tf.math.log(tf.sqrt(tf.square(tensor)))

print("Result:", result.numpy())

Result: [0.        1.3862944 2.1972246 2.7725887]

nput Restrictions:
Logarithm (tf.math.log, tf.math.log10, etc.) requires positive values. Negative or zero values result in NaN or errors.
Square root (tf.sqrt()) also requires non-negative values. Negative values will result in NaN.

In [35]:
int_tensor = tf.constant([1, 4, 9, 16], dtype=tf.int32)

# Cast to float for square root
float_tensor = tf.cast(int_tensor, dtype=tf.float32)
sqrt_tensor = tf.sqrt(float_tensor)

print("Square Root Tensor:", sqrt_tensor.numpy())

Square Root Tensor: [1. 2. 3. 4.]

#tensors and numpy

In [36]:
import tensorflow as tf

# Create a tensor
tensor = tf.constant([1, 2, 3, 4], dtype=tf.float32)

# Convert to NumPy array
numpy_array = tensor.numpy()

print("Tensor:", tensor)
print("NumPy Array:", numpy_array)

Tensor: tf.Tensor([1. 2. 3. 4.], shape=(4,), dtype=float32)
NumPy Array: [1. 2. 3. 4.]

In [37]:
import numpy as np

# Create a NumPy array
numpy_array = np.array([5, 6, 7, 8], dtype=np.float32)

# Convert to Tensor
tensor = tf.convert_to_tensor(numpy_array)

print("NumPy Array:", numpy_array)
print("Tensor:", tensor)

NumPy Array: [5. 6. 7. 8.]
Tensor: tf.Tensor([5. 6. 7. 8.], shape=(4,), dtype=float32)

In [38]:
# Create a tensor
tensor = tf.constant([1, 2, 3, 4], dtype=tf.float32)

# Convert to NumPy array
numpy_array = tensor.numpy()

# Modify the NumPy array
numpy_array[0] = 100

print("Modified NumPy Array:", numpy_array)
print("Original Tensor (unchanged):", tensor)

Modified NumPy Array: [100.   2.   3.   4.]
Original Tensor (unchanged): tf.Tensor([1. 2. 3. 4.], shape=(4,), dtype=float32)

In [39]:
# Create a tensor
tensor = tf.constant([1.0, 4.0, 9.0, 16.0])

# Use NumPy functions
sqrt_numpy = np.sqrt(tensor)

print("NumPy Square Root:", sqrt_numpy)

NumPy Square Root: [1. 2. 3. 4.]

In [40]:
# Define a simple TensorFlow operation
tensor = tf.constant([1, 2, 3], dtype=tf.float32)

# Use a NumPy array in an operation
numpy_array = np.array([3, 2, 1], dtype=np.float32)
result = tf.add(tensor, numpy_array)  # TensorFlow adds automatically

print("Result:", result)

Result: tf.Tensor([4. 4. 4.], shape=(3,), dtype=float32)

In [41]:
# Create a NumPy array
numpy_array = np.array([[1, 2], [3, 4]], dtype=np.float32)

# Perform TensorFlow operation
tensor_result = tf.matmul(numpy_array, numpy_array)

print("TensorFlow Result:\n", tensor_result.numpy())

TensorFlow Result:
 [[ 7. 10.]
 [15. 22.]]

Automatic Conversion: TensorFlow automatically converts NumPy arrays to tensors when used in TensorFlow operations.
Eager Execution: In eager execution (default mode), tensor.numpy() creates a NumPy array copy.
Compatibility: Most NumPy operations work with tensors without explicit conversion, making it easy to integrate both libraries.

 TensorFlow and Keras
TensorFlow integrates tightly with Keras, a high-level API for building and training models. You can quickly create deep learning models using:

Sequential API: A linear stack of layers.
Functional API: For more complex architectures like multi-input models

In [ ]:
from tensorflow.keras import layers, models

# Build a simple model
model = models.Sequential([
    layers.Dense(32, activation='relu'),
    layers.Dense(10, activation='softmax')
])

# Compile the model
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

print(model.summary())

#Practical Use Cases
Deep Learning Models: Build neural networks for classification, regression, or segmentation tasks.
Data Preprocessing: Use tf.data pipelines to clean, batch, and shuffle data.
Transfer Learning: Use pre-trained models for faster training on new tasks.
Custom Layers/Operations: Build custom layers or operations using tf.keras.layers or tf.function.

Deep Learning Models: Build neural networks for classification, regression, or segmentation tasks.
Data Preprocessing: Use tf.data pipelines to clean, batch, and shuffle data.
Transfer Learning: Use pre-trained models for faster training on new tasks.
Custom Layers/Operations: Build custom layers or operations using tf.keras.layers or tf.function.